/vendor
/node_modules
/resources/assets/bower_components/*
/public/images/uploads/
/resources/lang/*
/storage/debugbar/*
/storage/framework/*
/storage/httpcache/*
/AdminLTE-2.3.0
/packages
.env
.env.example
.envDev
.DS_Store*
npm-debug.log
/storage/*.sqlite
.vagrant